@{
    ViewData["Title"] = "Thanh toán bị hủy";
}

<div class="container text-center mt-5">
    <div class="card shadow p-4 rounded-4">
        <div class="text-danger">
            <i class="bi bi-x-circle-fill" style="font-size: 5rem;"></i>
        </div>
        <h2 class="mt-3 fw-bold">Giao dịch bị hủy!</h2>
        <p class="lead">Bạn đã hủy thanh toán. Nếu có thắc mắc, vui lòng liên hệ chúng tôi.</p>

        <a href="/" class="btn btn-secondary mt-3">Về trang chủ</a>
    </div>
</div>
